@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --gutters: 200px;
}

@media only screen and (max-width: 1100px) {
  :root {
    --gutters: 100px;
  }
}

@media only screen and (max-width: 650px) {
  :root {
    --gutters: 15px;
  }
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

h1,
h2 {
  font-family: 'Caveat';
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 15px;
}

p,
img,
a {
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 18px;
}

a {
  text-decoration: none;
  color: #347CE2;
}

a:hover {
  text-decoration: underline;
}

ol {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

ol li {
  counter-increment: list-counter;
  position: relative;
  line-height: 22px;
  margin-bottom: 12px;
}

ol li:last-child {
  margin-bottom: 0;
}

ol li::before {
  content: counter(list-counter);
  color: #FFFFFF;
  background-color: #347CE2;
  border-radius: 50%;
  font-weight: bold;
  position: absolute;
  --size: 24px;
  left: calc(-1 * var(--size) - 12px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: -2px;
  text-align: center;
}

.main-container {
  padding: 20px var(--gutters) 50px var(--gutters);
}

.navbar {
  background-color: #16202F;
  height: 32px;
  padding: 10px var(--gutters);
  overflow: hidden;
}

.navbar .content {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.navbar .content ul {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .content ul li {
  height: 100%;
  display: inline-block;
  margin-inline-end: 11px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.navbar .content ul li a {
  text-decoration: none;
}

.navbar .content ul li.active {
  background-color: #347CE2;
}

.navbar .content ul li.active div > a {
  color: #FFFFFF;
  font-weight: bold;
}

.navbar .content ul li:hover {
  cursor: pointer;
  background-color: #347CE2;
}

.navbar .content ul li:hover div > a {
  color: #FFFFFF;
  font-weight: bold;
}

.navbar .content ul li.opt-out {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
}

.navbar .content ul li:first-child {
  margin-inline-end: 40px;
}

.navbar .content ul li:last-child {
  margin-inline-end: 0;
}

.navbar .content ul li div {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .content ul li div a {
  color: #FFFFFF;
}

.navbar .content ul li div img {
  height: 100%;
}

.footer {
  background-color: #16202F;
  padding: 30px var(--gutters);
  width: calc(100% - 2 * var(--gutters));
  bottom: 0;
  display: flex;
  grid-row-start: 2;
  grid-row-end: 3;
}

.footer hr {
  margin: 15px 0;
  size: 1px;
  opacity: 50%;
}

.footer .content {
  width: 100%;
}

.footer .content .footer-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer .content .footer-links > li {
  float: left;
  margin-right: 50px;
}

.footer .content .footer-links > li:last-child {
  margin-right: 0;
}

.footer .content .footer-links ul {
  float: left;
}

.footer .content .footer-links ul .links-col {
  margin-right: 50px;
}

.footer .content .footer-links ul .links-col:last-child {
  margin-right: 0;
}

.footer .content .footer-links ul .links-col > li {
  margin-bottom: 10px;
}

.footer .content .footer-links ul .links-col > li:last-child {
  margin-bottom: 0;
}

.footer .content .footer-links .footer-logo {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
}

.footer .content .footer-links .footer-logo #footer-logo {
  height: 16px;
}

.footer .content .byline .copyright {
  color: #FFFFFF;
  opacity: 50%;
  font-family: "Roboto", sans-serif;
}

.footer .content .byline * {
  margin-right: 20px;
}

.footer .content .byline *:last-child {
  margin-right: 0;
}

.footer .content a, .footer .content p {
  color: #FFFFFF;
}

.card {
  border: 1px solid #16202F;
  border-radius: 20px;
  margin-bottom: 12px;
  padding: 15px;
  width: calc(100% - 2 * $padding);
  overflow: hidden;
}

.card:last-child {
  margin-bottom: 0;
}

.card .linked:hover {
  cursor: pointer;
}

.card .content {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.card .content > * {
  margin-right: 25px;
}

.card .content > *:last-child {
  margin-right: 0px;
}

.card .content .image {
  width: 70px;
  max-height: 70px;
  flex-shrink: 0;
  display: flex;
  align-content: center;
}

.card .content .image img {
  width: 100%;
  object-fit: contain;
}

.card .content .text {
  margin-bottom: 0;
  margin-top: 10px;
}

.card .content > p {
  line-height: 20px;
}

.card .content > h2 {
  margin-bottom: 10px;
  margin-top: -8px;
}

@media only screen and (max-width: 400px) {
  .card .content {
    flex-flow: column;
    align-items: center;
  }
  .card > * {
    margin-bottom: var(--item-spacing);
    margin-right: 0;
  }
  .card > *:last-child {
    margin-bottom: 0px;
  }
  .card .image {
    height: 100px;
    margin-right: 0;
  }
}

.kluring-gallery .content {
  display: flex;
  flex-flow: row;
}

.kluring-gallery .content > * {
  --item-spacing: 30px;
  margin-right: var(--item-spacing);
}

.kluring-gallery .content > *:last-child {
  margin-right: 0;
}

.kluring-gallery .content .section {
  width: 100%;
}

@media only screen and (max-width: 790px) {
  .kluring-gallery .content {
    flex-wrap: wrap;
  }
  .kluring-gallery .content .section {
    margin-right: 0;
    margin-bottom: 12px;
  }
}
